<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metoo.monitor.core.mapper.ResMapper">

    <resultMap id="ResRole_Unit_Map" type="com.metoo.monitor.core.entity.Res">
        <id column="mp_id" property="id"></id>
        <result column="mp_addTime" property="addTime"></result>
        <result column="mp_name" property="name"></result>
        <result column="mp_value" property="value"></result>
        <result column="mp_type" property="type"></result>
        <result column="url" property="url"></result>
        <result column="component" property="component"></result>
        <result column="componentName" property="componentName"></result>
        <result column="sequence" property="sequence"></result>
        <result column="level" property="level"></result>
        <result column="parentId" property="parentId"></result>
        <result column="parentName" property="parentName"></result>
        <result column="icon" property="icon"></result>
        <association property="role" column="role_id" javaType="com.metoo.monitor.core.entity.Role" >
            <id property="id" column="mr_id" />
            <result property="name" column="mr_name"></result>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id, addTime, deleteStatus, name, value, type, url, component, componentName,
         sequence, level, parentId, parentName, icon
    </sql>

    <select id="findResByRoleId" parameterType="java.lang.Long" resultType="com.metoo.monitor.core.entity.Res">
        SELECT role.id role_id,role.name,role.roleCode,role.type,
          res.id,res.value, res.component, res.componentName, res.level, res.parentId, res.parentName,
           res.icon, res.sequence
        FROM metoo_res res
        LEFT JOIN metoo_role_res rr  ON rr.res_id=res.id
        LEFT JOIN metoo_role role ON role.id=rr.role_id
        WHERE role.id=#{id}
        AND res.level = 1
    </select>

    <select id="query" parameterType="com.metoo.monitor.core.dto.ResDto" resultType="com.metoo.monitor.core.entity.Res">
        SELECT <include refid="Base_Column_List" />
        FROM metoo_res mp
        <where>
            <if test = "parentId != null">
                mp.parentId = #{parentId, jdbcType=BIGINT}
            </if>
            <if test = "level != null">
                mp.level = #{level}
            </if>
        </where>
        ORDER BY mp.level
        DESC
    </select>

    <select id="findPermissionByMap" parameterType="map" resultType="com.metoo.monitor.core.entity.Res">
        SELECT <include refid="Base_Column_List" />
        FROM metoo_res mp
        <where>
            <if test = "parentId != null">
                mp.parentId = #{parentId, jdbcType=BIGINT}
            </if>
            <if test = "level != null">
                mp.level = #{level}
            </if>
        </where>
        ORDER BY mp.level
        DESC
    </select>

    <resultMap id="Level_Linkage_Result" type="com.metoo.monitor.core.dto.ResDto">
        <id column="id" property="id"/>
        <result column="name" property="name"></result>
        <result column="value" property="value"></result>
        <result column="url" property="url"></result>
        <result column="component" property="component"></result>
        <result column="componentName" property="componentName"></result>
        <result column="sequence" property="sequence"></result>
        <result column="level" property="level"></result>
        <result column="icon" property="icon"></result>
        <collection property="childrenList" ofType="com.metoo.monitor.core.dto.ResDto">
            <id column="mp2_id" property="id"/>
            <result column="mp2_name" property="name"></result>
            <result column="mp2_value" property="value"></result>
            <result column="mpl_url" property="url"></result>
            <result column="mp2_component" property="component"></result>
            <result column="mp2_componentName" property="componentName"></result>
            <result column="mp2_sequence" property="sequence"></result>
            <result column="mp2_level" property="level"></result>
            <result column="mp2_icon" property="icon"></result>
            <!--保留第三级权限：增删改查-->
            <!--<collection property="childrenList" ofType="com.metoo.monitor.core.dto.ResDto">
                <id column="mp3_id" property="id"/>
                <result column="mp3_name" property="name"></result>
                <result column="mp3_value" property="value"></result>
                <result column="mpl_url" property="url"></result>
                <result column="mp3_component" property="component"></result>
                <result column="mp3_sequence" property="sequence"></result>
                <result column="mp3_level" property="level"></result>
            </collection>-->
        </collection>
    </resultMap>

    <sql id="Level_Linkage_Column">
      mp1.id, mp1.name, mp1.value, mp1.url, mp1.component, mp1.sequence, mp1.level, mp1.componentName,mp1.icon,
      mp2.id mp2_id, mp2.name mp2_name, mp2.`value` mp2_value, mp2.url mpl_url, mp2.component mp2_component,
      mp2.sequence mp2_sequence, mp2.level mp2_level,mp2.componentName mp2_componentName, mp2.icon mp2_cion,
      mp3.id mp3_id, mp3.name mp3_name, mp3.`value` mp3_value, mp3.url mpl_url, mp3.component mp3_component,
      mp3.sequence mp3_sequence, mp3.level mp3_level, mp3.componentName mp3_componentName, mp3.icon mp3_cion
    </sql>

    <select id="findPermissionByJoin" parameterType="map" resultMap="Level_Linkage_Result">
        SELECT <include refid="Level_Linkage_Column" />
        FROM (
            SELECT *
            FROM metoo_res mp
            WHERE mp.level = 0
            LIMIT #{currentPage}, #{pageSize}
        ) mp1
            LEFT JOIN (
                  SELECT <include refid="Base_Column_List"/>
                  FROM metoo_res mp
                  WHERE mp.level = 1
        ) mp2
        ON mp2.parentId = mp1.id
           LEFT JOIN
        (
              SELECT id, name, value, url, component,
                sequence, parentId, level, componentName, icon
              FROM metoo_res mp
              WHERE mp.level = 2
        ) mp3
        ON mp3.parentId = mp2.id
        <where>
            <if test = "parentId != null">
                AND mp1.parentId = #{parentId, jdbcType=BIGINT}
            </if>
            <if test = "level != null">
                AND mp1.level = #{level}
            </if>
            AND mp1.deleteStatus = 0
            AND mp2.deleteStatus = 0
        </where>
        ORDER BY mp1.sequence
        DESC
    </select>

    <select id="selectPrimaryById" parameterType="java.lang.Long" resultType="com.metoo.monitor.core.entity.Res">
        SELECT <include refid="Base_Column_List" />
        FROM metoo_res mr
        WHERE mr.id=#{id, jdbcType=BIGINT}
    </select>

    <select id="findObjByName" parameterType="java.lang.String" resultType="com.metoo.monitor.core.entity.Res">
        SELECT <include refid="Base_Column_List" />
        FROM metoo_res
        WHERE name=#{name}
    </select>

     <select id="findResUnitRoleByResId" parameterType="java.lang.Long" resultMap="ResRole_Unit_Map">
         SELECT mp.id mp_id, mp.addTime mp_addTime, mp.name mp_name, mp.value mp_value, mp.type mp_type,
                 mp.url, mp.component, mp.componentName, mp.sequence, mp.level, mp.parentId, mp.parentName,
                 mp.icon, mr.id mr_id, mr.name mr_name
         FROM metoo_res mp
           LEFT JOIN metoo_role mr ON mp.role_id=mr.id
         WHERE mp.id=#{id, jdbcType=BIGINT}
     </select>

    <select id="findResByResIds" parameterType="list" resultType="com.metoo.monitor.core.entity.Res">
        SELECT *
        FROM metoo_res mr
        WHERE mr.id
        IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id = "findPermissionByUserId" parameterType="java.lang.Long" resultType="java.lang.String">
      SELECT res.value
      FROM metoo_res res
        LEFT JOIN metoo_role_res role_res ON role_res.res_id = res.id
        LEFT JOIN metoo_role role ON role.id = role_res.role_id
        LEFT JOIN metoo_user_role user_role ON user_role.role_id = role.id
        LEFT JOIN metoo_user user ON user.id = user_role.user_id
	  WHERE
    	user.id = #{id}
    </select>

    <insert id="save" parameterType="com.metoo.monitor.core.entity.Res" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO metoo_res
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null">
                id,
            </if>
            <if test="addTime != null">
                addTime,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="value != null">
                value,
            </if>
            <if test="type = null">
                type,
            </if>
            <if test="role != null">
                role_id,
            </if>
            <if test="parentId != null">
                parentId,
            </if>
            <if test="parentName != null">
                parentName,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="component != null">
                component,
            </if>
            <if test="componentName != null">
                componentName,
            </if>
            <if test="sequence != null">
                sequence,
            </if>
            <if test="level != null">
                level,
            </if>
        </trim>
        <trim prefix="VALUES(" suffixOverrides="," suffix=")">
            <if test="id != null">
                #{id},
            </if>
            <if test="addTime != null">
                #{addTime},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="value != null">
                #{value},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="role != null">
                #{role.id},
            </if>
            <if test="parentId != null">
                #{parentId},
            </if>
            <if test="parentName != null">
                #{parentName},
            </if>
            <if test="icon != null">
                #{icon},
            </if>
            <if test="url != null">
                #{url},
            </if>
            <if test="component != null">
                #{component},
            </if>
            <if test="componentName != null">
                #{componentName},
            </if>
            <if test="sequence != null">
                #{sequence},
            </if>
            <if test="level != null">
                #{level},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.metoo.monitor.core.entity.Res">
        UPDATE metoo_res mr
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="value != null">
                value=#{value},
            </if>
            <if test="type != null">
                type=#{type},
            </if>
            <if test="role != null">
                role_id=#{role.id},
            </if>
            <if test="parentId != null">
                parentId = #{parentId},
            </if>
            <if test="parentName != null">
                parentName = #{parentName},
            </if>
            <if test="icon != null">
                icon =  #{icon},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="component != null">
                component = #{component},
            </if>
            <if test="componentName != null">
                componentName = #{componentName},
            </if>
            <if test="sequence != null">
                sequence = #{sequence},
            </if>
            <if test="level != null">
                level = #{level},
            </if>
        </set>
        <where>
            <if test="id != null">
                id=#{id}
            </if>
        </where>
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM metoo_res
        WHERE id=#{id, jdbcType=BIGINT}
    </delete>
</mapper>